<div class="container">

	
	<button class="btn btn-success" ng-click="register()" ng-if="isRegistered == false">Register</button>
	<button class="btn btn-success" ng-click="unregister()"  ng-if="isRegistered == true">Unregister</button>

	<h4 ng-if="masterAddr == ''">You are the master, you are our leader</h4>
	
	<h4 ng-if="masterAddr != ''">Master ip: {{ masterAddr}}</h4>

	<div class="col-md-6">
		<h3>Nodes</h3>
		<table class="table">
	    <thead>
	      <tr>
	        <th>Address</th>
	         <th>Alias</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr class="success" ng-repeat="node in nodes">
	        <td>{{ node.address}}</td>
	        <td>{{ node.alias}}</td>
	      </tr>
	
	   
	    </tbody>
	  </table>
  </div>
 </div>