

 <!-- Header -->
    <div id="top" class="">
        <div class="text-vertical-center">
            <h1>Agents and stuff</h1>
            <h3>Sick of doing stuff yourself hire an agent </h3>
        </div>
    </div>
    
    <div class="container">
    
    <div class='col-md-3 col-md-offser-3'>
    	 <button class="btn btn-primary" ng-click="rest()">USE REST</button>
    </div>
    
    <div class='col-md-3'>
    	 <button class="btn btn-primary" ng-click="websocket()">WEB SOCKET</button>
    </div>
  
    </div>